*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    
}
a{
    text-decoration: none;
    color: #ffffff;
   
    
}

.img-header {
    margin-left: 60px;
    width: 30px;
    

}

.main-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

.div-side-left{
    display:flex ;
    width: 700px;
    flex-direction: column;
    justify-content:left;
    
    
}
.div-side-right{
    
}

.img-logo {
    width: 500px;
}

.img-M-L {
   
    width: 600px;
    
}

p{
    width: 400px;
    margin-left: 60px;
    color: #ffffff;
}

button{
    width:150px;
    height: 50px;
    margin-left: 150px;
    margin-top: 30px;
    color: #ffffff;
    background-color: brown;
border-radius: 5px;
border: none;
cursor: pointer;

}
video {
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    
}
.shadow {
    position:fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    
}

button:hover{
    opacity: 0.7;
    animation: pulse 1.5s infinite;
      transition: transform 0.5s;
        animation: pulse 0.5s ease infinite;
}
        @keyframes pulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.1);
            }
            100% {
              transform: scale(1);
            }
          }

          button:active {
            opacity: 0.2;
          }

a:hover{
    transition: 0.5s;
    color: brown;
    font-size: larger;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.whatsapp-img {
    width: 70px;
    position: fixed;
    right: 80px;
}
.whatsapp-img:active{
  opacity: 0.5;
}


form{
background-color: #ffffff;
display: flex;
flex-direction: column;
position: fixed;
top: 130px;
left: -336px;
padding: 20px;
border-radius: 5px;
transition: left 1s ease-in-out;


gap: 20px;

}
input{
    height: 40px;
    border-radius: 5px;
    border: solid gray 2px;
    padding-left: 5px;
    outline-color:brown;
   
}
textarea {
    height: 120px;
    width: 300px;
    border-radius: 5px;
    border: solid gray 2px;
    padding-left: 5px;
    outline-color:brown;
}
.form-button {

  position: relative;
  right: 75px;
}

.shadow-form {
  visibility:hidden ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black ;
    opacity: 0.8;
}

@media (max-width:1100px) {
 p{
  display: none;
 }

 .main-div{
  flex-direction: column;
  padding: 10px;
 }

 .div-side-left{
  align-items: center;
  flex-direction: column;

 }
 .button1{
  margin-left:0px;
 }

 .img-M-L{
  width: 80vw;
  height: auto;
 }
 header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
  margin-bottom: 50px;
 }
}